<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.mehdi.kelid">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".KelidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name="ir.mehdi.kelid.ui."> -->


        <!-- </activity> -->
        <activity
            android:name=".ui.AddPropetyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AddConsulatingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AddOfficeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AddServiceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.FilterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.CityActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ShowInfoActivity"></activity>
    </application>

</manifest>